
.DS_Store
paper/MiniPIX.aux
paper/MiniPIX.log
paper/MiniPIX.out
paper/MiniPIX.pdf
paper/MiniPIX.spl
.DS_Store
*.gz
layout.aux
layout.log
layout.pdf
layout.synctex.gz
.DS_Store
paper/Abstract.pdf
paper/Abstract.log
paper/Abstract.aux
paper/Abstract.pdf
paper/Abstract.log
MiniPIX/
*.pdf
*.log
*.aux
paper/Abstract.pdf
paper/Abstract.log
paper/Abstract.aux
.DS_Store
paper/Abstract.aux
paper/Abstract.log
paper/Abstract.out
paper/Abstract.pdf
*.aux
*.log
*.out
*.pdf
